<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/emumba/Desktop/From old PC/Automation Assignment/attemptOne">
        <classes>
            <class name="Search.runAssignment">
                <methods><include name="afterLifeImdbFlow"/>
                    <include name="herokuAppFlow"/>
                    <include name="testLogins"/>
                    <include name="API"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>